.menus {
  display: flex;
  align-items: center;
  justify-content: left;
  /* gap: 10px; */
}

.active-option {
  background-color: #d0d8e0;
  /* padding: 5px 10px; */
}

.menus > div {
  padding: 0px 5px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

.menus > div:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #d0d8e0;
}

.material-icons {
  transform: scale(0.7);
}


